<!DOCTYPE html>
<html>
    <head>
        <title>Whiteboard</title>
        <meta charset="utf-8">
    </head>
    <body>
        <canvas id="board"></canvas>
        <div class="play-menu hidden" id="play-menu">
            <p>Whiteboard</p>
            <p>(multiplayer)</p>
            <input type="text" placeholder="Username" id="username-input">
            <button id="play-button">PLAY</button>
        </div>
        <div class="tools" id="tools">
            <p>placeholder</p>
        </div>
        <div class="disconnected hidden" id="disconnected">
            <div>
                <h2>Disconnected from server</h2>
            </div>
        </div>
    </body>
</html>